body {
  margin: 0.5rem;

  background-color: silver;
}

#own-cards {
  position: fixed;
  bottom: 0.5rem;
  left: calc((100% - 78rem) / 2);

  display: flex;
  justify-content: center;

  padding: 0.5rem 0.25rem;
  box-sizing: border-box;

  width: 78rem;
  height: 9.5rem;

  background-color: gray;

  user-select: none;
}

.card {
  margin: 0rem 0.25rem;

  width: 5.5rem;

  cursor: pointer;
}

.selected-card {
  transform: scale(1.15) translateY(-1rem);
}

.card-image {
  width: 100%;

  pointer-events: none;
}

.action-btns {
  position: fixed;
  bottom: 11.5rem;
  left: calc((100% - 24rem) / 2);

  display: flex;
}

#play-btn,
#pass-btn {
  width: 12rem;
  height: 3rem;

  background-color: black;

  font-family: monospace;
  font-size: 2rem;
  color: white;
  text-align: center;
  line-height: 3rem;

  cursor: pointer;
}

#pass-btn {
  background-color: gray;
}

#player-name {
  position: fixed;
  bottom: 11.5rem;
  left: calc((100% - 78rem) / 2);

  width: 24rem;
  height: 3rem;

  font-family: cursive;
  font-size: 2rem;
  line-height: 3rem;
  text-decoration: underline;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

#opponent-deck-1,
#opponent-deck-2,
#opponent-deck-3 {
  position: fixed;

  background-color: gray;
}

#opponent-deck-1 {
  top: 25rem;
  right: calc((41.75rem - 4.75rem) / 2 * -1);

  padding: 0.2rem;
  margin-right: 0.5rem;

  width: 41.75rem;
  height: 4.75rem;

  transform: rotate(90deg);
}

#opponent-deck-2 {
  top: 0.5rem;
  left: calc((100% - 54rem) / 2);

  padding: 0.4rem 0.2rem;

  width: 54rem;
  height: 5.7rem;
}

#opponent-deck-3 {
  top: 25rem;
  left: calc((41.75rem - 4.75rem) / 2 * -1);

  padding: 0.2rem;
  margin-left: 0.5rem;

  width: 41.75rem;
  height: 4.75rem;

  transform: rotate(90deg);
}

.opponent1-card,
.opponent3-card {
  margin: 0rem 0.1rem;

  width: 3rem;
}

.opponent2-card {
  margin: 0rem 0.2rem;

  width: 3.75rem;
}
