body {
  background-color: silver;
}

.cards {
  position: fixed;
  bottom: 1rem;
  left: calc((100% - 80rem) / 2);

  display: flex;

  padding: 0.5rem 0.25rem;
  box-sizing: border-box;

  width: 80rem;
  height: 9.5rem;

  background-color: gray;

  user-select: none;
}

.card {
  flex: 1;

  margin: 0rem 0.25rem;

  cursor: pointer;
}

.selected-card {
  transform: scale(1.15) translateY(-1rem);
}

.card-image {
  width: 100%;

  pointer-events: none;
}

.action-btns {
  position: fixed;
  bottom: 12rem;
  left: calc((100% - 24rem) / 2);

  display: flex;
}

#play-btn,
#pass-btn {
  width: 12rem;
  height: 3rem;

  background-color: black;

  font-family: monospace;
  font-size: 2rem;
  color: white;
  text-align: center;
  line-height: 3rem;

  cursor: pointer;
}

#pass-btn {
  background-color: gray;
}

#player-name {
  position: fixed;
  bottom: 12rem;
  left: calc((100% - 80rem) / 2);

  width: 24rem;
  height: 3rem;

  font-family: cursive;
  font-size: 2rem;
  line-height: 3rem;
  text-decoration: underline;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
